# Definition

Named tuple assign name to each position in tuple. They have the same ability as the regular tuples and in addtion they can also be accessed by field.

`namedtuple()` is a *factory function* available in `collections` module.\
```python
namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)
```
`namedtuple()` has 2 required arguments:
- `typename` provides the name of class that returned by `nametupe()`.
- `field_names` provides the field name that you want to access. This can be:
    - A iterable of string.
    - A string of field names separated by white space.
    - A string of comma-separated field names.

In [1]:
from collections import namedtuple

In [3]:
# filed_names = a list of string
Point = namedtuple('Point', ['x', 'y'])
print(Point)
print(Point(1, 2))
print(Point(y=1, x=2))

<class '__main__.Point'>
Point(x=1, y=2)
Point(x=2, y=1)

In [5]:
# field_names = a string of filed names separated by white space.
Point = namedtuple('Point', ' x   y')
print(Point)
print(Point(1, 2))
print(Point(y=3, x=4))

<class '__main__.Point'>
Point(x=1, y=2)
Point(x=4, y=3)

You can use any valid Python indentifier for the field names, except for:
- Names that start with `_`.
- Names that are keywords.

In [9]:
namedtuple('Point', ['_x', 'y'])

ValueError: Field names cannot start with an underscore: '_x'

In [10]:
namedtuple('Point', ['x', 'class'])

ValueError: Type names and field names cannot be a keyword: 'class'

## Optional Arguments for `namedtuple()`

These optional arguments are keyword arguments.

### `rename`

If you set `rename` to True, all invalid field names are replace by their positional names.

In [14]:
Point = namedtuple('Point', ['_x', 'y'], rename = True)
Point(1, 1)

Point(_0=1, y=1)

This should be on, if you don't know in advance the field name(e.g. _id, class,...).

### `defaults`

`defaults` defines a list(iterable) of default values for the field names. The `defaults` is applied to the rightmost parameters.

In [15]:
Developer = namedtuple('Developer', ['name', 'language', 'level'], defaults=['Python', 'Beginner'])
Developer('Huy')

Developer(name='Huy', language='Python', level='Beginner')

### `module`

If `module` is specified, the `__module__` attribute of named tuple is set to that value.

In [16]:
Point = namedtuple('Point', ['x', 'y'], module='custom')
Point.__module__

'custom'

# Operations

## Operations inherited from `tuple`

In [23]:
Point = namedtuple('Point', ('x', 'y'))
p = Point(1, 2)

In [24]:
p[0]

1

In [25]:
p[-1]

2

In [26]:
p[:]

(1, 2)

In [27]:
1 in p

True

In [28]:
len(p)

2

In [29]:
min(p)

1

In [30]:
max(p)

2

In [32]:
p.index(1)

0

In [34]:
p.count(2)

1

## Extended operations

In [35]:
p.x

1

In [36]:
p.y

2

In [37]:
p._asdict()

{'x': 1, 'y': 2}

In [40]:
p2 = p._replace(x=3)

In [41]:
p2 is p

False

In [43]:
p3 = Point._make([4, 2])
p3

Point(x=4, y=2)

In [46]:
Developer = namedtuple('Developer', ['name', 'language', 'level'], defaults=['Python', 'Beginner'])
me = Developer('Huy')

In [47]:
me._fields

('name', 'language', 'level')

In [51]:
for field, value in zip(me._fields, me):
    print(f'{field} -> {value}')

name -> Huy
language -> Python
level -> Beginner

In [49]:
me._field_defaults

{'language': 'Python', 'level': 'Beginner'}

# Application

## Improve code readability

Provide context for object through class name and named field.

In [3]:
from collections import namedtuple

Rectangle = namedtuple('Rectangle', ('bottomleft', 'topright'))
rec = Rectangle((1, 1), (5, 3))
print(rec.bottomleft)
print(rec.topright)

(1, 1)
(5, 3)

## Reducing the number of arguments

Pack together related argument.

In [16]:
User = namedtuple('User', ('username', 'password'))
Host = namedtuple('Host', ('hostname', 'port'))
DB = namedtuple('DB', ('db_name', 'options'))
Option = namedtuple('Option', ('directive', 'value'))

def connection_string(db, user, host):
    url = f'https://{user.username}:{user.password}@{host.hostname}:{host.port}/{db.db_name}'
    
    if not len(db.options):
        return url
    
    options = '&'.join(map(lambda o: o.directive + '=' + str(o.value), db.options))

    return f'{url}?{options}'

In [17]:
user = User('huy', 'huy123')
host = Host('localhost', '3306')
db = DB('mysql', [Option('admin', True)])

connection_string(db, user, host)

'https://huy:huy123@localhost:3306/mysql?admin=True'

## Return Multiple Name Values from function

Using a name tuple as the return value help make your code more readable.

In [19]:
DivMod = namedtuple('DivMod', ['div', 'mod'])

def divide_modulo(dividend, divisor):
    return DivMod(*divmod(dividend, divisor))

custom_divmod = divide_modulo(7, 4)
print(custom_divmod.div)
print(custom_divmod.mod)

1
3

# Reading tabular data from files

Named tuple is a lightweight data structure to store data that you need to access by attributes.

In [24]:
import csv 
from collections import namedtuple

with open('employees.csv', 'r') as csv_file:
    reader = csv.reader(csv_file)
    Employee = namedtuple('Employee', next(reader), rename=True)

    for row in reader:
        employee = Employee(*row)
        print(f'Contact {employee.email} to meet {employee.job}, {employee.name}.')

Contact linda@example.com to meet Technical Lead, Linda.
Contact joe@example.com to meet Senior Web Developer, Joe.
Contact lara@example.com to meet Project Manager, Lara.
Contact david@example.com to meet Data Analyst, David.
Contact jane@example.com to meet Senior Python Developer, Jane.