# Definition

Set(`set`) is a built-in type consists of unordered collection of distinct hashable items.

- Elements in `set` are unique.
- Elements must be hasable(not necessary immutable).
- Sets are unordered.

Easiest way to define a set is using currly bracket(`{}`).\
```python
{<obj>, <obj>, <obj>, ...}
```

In [ ]:
s = {1, 2, 3}

In [ ]:
s

(1,)

In [ ]:
type(s)

set

You can't define an empty set using `{}`. It gonna be treat as a dictionary.

In [ ]:
s = {}

In [ ]:
type(s)

dict

Another way to define built-in class `set(<iter>)`.

In [ ]:
s = set([1, 2, 3])
s

{1, 2, 3}

In [ ]:
s = set("gay")
s

{'a', 'g', 'y'}

You can define an empty set using `set()`.

In [ ]:
s = set()
s

set()

To create a new set from two or more sets(or sequences), unpacking(`*`) them inside `{}`.\

```python
{*<set>, *<set>, ...}
```

In [ ]:
s1 = {1}
s2 = {2, 3}
new_s = {*s1, *s2}
new_s

{1, 2, 3}

# Size and membership

In [ ]:
s = {1, 2, 3}

In [ ]:
len(s)

3

In [ ]:
2 in s

True

In [ ]:
4 in s

False

In [ ]:
2 not in s

False

In [ ]:
4 not in s

True

# Mathematical Set's Operation

Most of these operation can be performed by two ways: method and operator.\
The methods take iterables.\
The operator take sets.

## Union

Calculate the combination of two or more sets.

```python
s.union(*<iter>)
s | s3 [| s3 ...]
```

In [ ]:
s1 = {"foo", "bar", "baz"}
s2 = {"baz", "qux", "quux"}

In [ ]:
s1.union(s2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [ ]:
s1 | s2

{'bar', 'baz', 'foo', 'quux', 'qux'}

## Intersection

Calculate the set of elements appear in two or more sets.

```python
s.intersection(*<iter>)
s1 & s2 [& s3 ...]
```

In [ ]:
s1 = {"foo", "bar", "baz"}
s2 = {"baz", "qux", "quux"}

In [ ]:
s1.intersection(s2)

{'baz'}

In [ ]:
s1 & s2

{'baz'}

## Difference

Calculate the set of elements that appear in the previous list but not the following of two and more sets.

```python
s.difference(*<iter>)
s1 - s2 [- s3 ...]
```

In [ ]:
s1 = {"foo", "bar", "baz"}
s2 = {"baz", "qux", "quux"}

In [ ]:
s1.difference(s2)

{'bar', 'foo'}

In [ ]:
s1 - s2

{'bar', 'foo'}

When difference multiple sets, the operation is perform from left to right.

In [ ]:
mod2 = {2, 4, 8, 10, 12}
mod3 = {3, 9 , 12, 15}
mod5 = {5, 10, 15, 20}

In [ ]:
mod2.difference(mod3, mod5)

{2, 4, 8}

In [ ]:
mod2 - mod3 - mod5

{2, 4, 8}

## Symmetric Difference

Calculate the set of elements that appear in either previous and following of two or more sets.

```python
s.symmertric_difference(<iter>)
s1 ^ s2 [^ s3]
```
Note: symmertric_difference take only one iterable.

In [ ]:
s1 = {"foo", "bar", "baz"}
s2 = {"baz", "qux", "quux"}

In [ ]:
s1.symmetric_difference(s2)

{'bar', 'foo', 'quux', 'qux'}

In [ ]:
s1 ^ s2

{'bar', 'foo', 'quux', 'qux'}

## Disjoint

Two sets is disjoint if they don't share any commmon elements.

```python
s.isdisjoint(<iter>)
```

In [ ]:
s1 = {"foo", "bar", "baz"}
s2 = {"baz", "qux", "quux"}

In [ ]:
s1.isdisjoint(s2)

False

In [ ]:
s1.isdisjoint(s2 - {"baz"})

True

## Subset

A is a subset of B if all elements in A appear in B.

```python
s.issubset(iter)
s1 <= s2
```

In [ ]:
s1 = {"foo", "bar", "baz"}
s2 = {"baz", "qux", "quux"}

In [ ]:
s1.issubset(s2)

False

In [ ]:
s1.issubset(s1 | s2)

True

In [ ]:
s1.issubset(s1)

True

In [ ]:
s1 <= s2

False

In [ ]:
s1 <= s1 | s2

True

In [ ]:
s1 <= s1

True

## Proper Subset

A proper subset is a subset, except that the sets aren't be identical.

```python
s1 < s2
```

In [ ]:
s1 = {"foo", "bar", "baz"}
s2 = {"baz", "qux", "quux"}

In [ ]:
s1 < s2

False

In [ ]:
s1 < s1 | {"qux"}

True

In [ ]:
s1 < s1

False

## Superset

A is superset of B if A cottains all the elements of B.

```python
s.issuperset(<iter>)
s1 >= s2
```

In [ ]:
s1 = {"foo", "bar", "baz"}
s2 = {"baz", "qux", "quux"}

In [ ]:
s1.issuperset(s2)

False

In [ ]:
(s1 | s2).issuperset(s1)

True

In [ ]:
s1.issuperset(s1)

True

## Proper Superset

Proper superset is a superset, except the sets aren't indentical.

```python
s1 > s2
```

In [ ]:
s1 = {"foo", "bar", "baz"}
s2 = {"baz", "qux", "quux"}

In [ ]:
s1 > s2

False

In [ ]:
(s1 | s2) > s2

True

In [ ]:
s1 > s1

False

# Modifying A Sets

## Update

```python 
s1.update(*<iter>)
s1 |= s2 [| s3 ...]
```

In [ ]:
s1 = {"foo", "bar", "baz"}

In [ ]:
s1.update(["qux"])
s1

{'bar', 'baz', 'foo', 'qux'}

In [ ]:
s1 |= ["qux"]

TypeError: unsupported operand type(s) for |=: 'set' and 'list'

In [ ]:
s1 |= {"quux"}
s1

{'bar', 'baz', 'foo', 'quux', 'qux'}

## Intersection Update

```python
s1.intersection_update(*<iter>)
s1 &= s2 [& s3 ...]
```

In [1]:
s1 = {'foo', 'bar', 'baz'}
s2 = {'foo', 'baz', 'qux'}

In [2]:
s1.intersection_update(s2)
s1

{'baz', 'foo'}

In [3]:
s1 &= {"foo", "bar"}
s1

{'foo'}

## Difference Update

```python
s1.difference_update(*<iter>)
s1 -= s2 [- s3 ...] 
```

In [4]:
s1 = {'foo', 'bar', 'baz'}
s2 = {'foo', 'baz', 'qux'}

In [5]:
s1.difference_update(s2)
s1

{'bar'}

In [7]:
s2 -= {"foo"}
s2

{'baz', 'qux'}

## Symmetric Difference

```python 
s1.symmetric_difference(*<iter>)
s1 ^= s2 [^ s3 ...]
```

In [10]:
s1 = {'foo', 'bar', 'baz'}
s2 = {'foo', 'baz', 'qux'}

In [11]:
s1.symmetric_difference_update(s2)
s1

{'bar', 'qux'}

In [12]:
s1 ^= s2
s1

{'bar', 'baz', 'foo'}

## Add

```python
s.add(<elem>)
```

In [14]:
s = {'foo', 'bar', 'baz'}

In [18]:
s.add("qux")
s

{'bar', 'baz', 'foo', 'qux'}

## Remove

```python
s.remove(<elem>)
```
Note: Raise `KeyError` if elem is not in the set.

In [19]:
s = {'foo', 'bar', 'baz'}

In [20]:
s.remove("bar")
s

{'baz', 'foo'}

In [21]:
s.remove("bar")

KeyError: 'bar'

## Discard

```python
s.discard(<elem>)
```

In [22]:
s = {'foo', 'bar', 'baz'}

In [24]:
s.discard('bar')

In [25]:
s.discard('bar')

## Pop

```python
s.pop()
```
Note: Raise `KeyError` if the set is empty.

In [29]:
s = {'foo', 'bar', 'baz'}

In [30]:
s.pop()

'bar'

In [31]:
s.pop()

'baz'

In [32]:
s.pop()

'foo'

In [33]:
s.pop()

KeyError: 'pop from an empty set'

## Clear

```python
s.clear()
```

In [26]:
s = {'foo', 'bar', 'baz'}

In [27]:
s.clear()
s

set()

# Frozen Sets

Frozen sets are immutable version of set.

To create frozen set use built-in frozenset class.
```python
frozenset(<iter>)
```

In [34]:
l = [1, 2, 3]
frozenset(l)

frozenset({1, 2, 3})

In [37]:
t = (1, 2, 3)
frozenset(t)

frozenset({1, 2, 3})

In [1]:
s = {1, 2, 3}
frozenset(s)

frozenset({1, 2, 3})