# Operators

`s + t`: to concatenate strings together.\
`s * n`: to create a `n` concatenated copies of `s`.\
`t in s`: check if whether or not `t` is a substring of  `s`.\
`t in s`: check if whether or not `t` is not a substring of `s`.

In [1]:
s = "foo"
t = "bar"
u = "baz"

In [2]:
s + t

'foobar'

In [3]:
s + t + u

'foobarbaz'

In [4]:
s * 3

'foofoofoo'

In [5]:
3 * s

'foofoofoo'

In [ ]:
s * -1

''

In [6]:
s * -2

''

In [13]:
"o" in s

True

In [14]:
"o" not in s

False

# Built-In Function

|Function|Description|
|:-------|:-----|
|chr(i)|Convert a integer to corresponding character and return|
|ord(c)|Convert a character to corresponding integer and return|
|len(s)|Get the length of sequence|
|str(o)|Return the string representation of object|

In [18]:
chr(65)

'A'

In [19]:
ord("A")

65

In [20]:
chr(ord("A"))

'A'

In [22]:
ord("ừ")

7915

In [23]:
chr(7915)

'ừ'

In [21]:
len(s)

3

In [27]:
str(s)

'foo'

# String Indexing

## Description

![](../images/python_indices.webp "Python indices")

The first index is 0.

```python
s[index]
```

**Rule**\
`index` must be an integer.\
`index` must to be in range.\
if `index` < 0 then the index is relative to the len(s) is use. But -0 is still 0.

In [1]:
name = "Trần Minh Huy"

## Example

## Use positive indexes

In [76]:
name[0]

'T'

In [33]:
name[3]

'n'

In [85]:
# Error if access out of range index
name[len(name)]

IndexError: string index out of range

In [112]:
name[-15]

IndexError: string index out of range

## Use negative indxes

In [81]:
# Last character of string
name[-1]

'y'

In [82]:
# First character of string
name[-len(name)]

'T'

In [84]:
# Error if access negative out of range index
name[-len(name) - 1]

IndexError: string index out of range

# String Slicing

## Description

![](../images/python_indices.webp "Python indices")

```python
s[start:end]
```

String slicing return a substring starting at `start` and up to but not including position `end`.

**Rule**\
if `start` is ommit or `None` then use 0.\
if `end` is ommit or `None` then use len(s).\
if `start` >= `end` then return ''.\
if `start` > len(s) or `end` > len(s) then use len(s).\
if `start` < 0 or `end` < 0 then the index is relative to the len(s) is use. But -0 is still 0.

## Examples

In [88]:
name[5:9]

'Minh'

In [39]:
name[:4]

'Trần'

In [40]:
name[4:]

' Minh Huy'

In [43]:
name[:4] + name[4:]

'Trần Minh Huy'

In [89]:
name[:4] + name[4:] == name

True

In [90]:
# Use slice will return the reference to original string
copy_name = name[:]
print(id(copy_name))
print(id(name))

1954867851792
1954867851792

In [91]:
name[4:2]

''

In [66]:
name[:len(name) + 3]

'Trần Minh Huy'

In [99]:
name[-8:-4]

'Minh'

In [100]:
name[-len(name):]

'Trần Minh Huy'

In [101]:
name[:-1]

'Trần Minh Hu'

In [55]:
name[0:len(name)-1]

'Trần Minh Hu'

In [102]:
name[-4:-8]

''

In [105]:
name[-len(name) - 2:]

'Trần Minh Huy'

# String Slicing with Stride

![](../images/python_indices.webp "Python Indices")

```python
s[start:end:stride]
```

The slice of `s` from `start` to `end` with step `stride` is a string with characters at index x = `start` + k*`end`\
with: 0 <= k < (`end` - `start`)/`stride`.

**Rule**\
`stride` != 0.\
if `stride` > 0 then `start` and `end` are reduced to `len(s)` if greater.\
if `stride` < 0 then `start` and `end` are reduced to `len(s)` - 1 if greater.\
if `start` and `end` is ommitted or `None` then use *"end" value*.

## Examples

In [122]:
name[::1] # = name[:]

'Trần Minh Huy'

In [2]:
name[::-1]

'yuH hniM nầrT'

In [123]:
name[2:10:3]

'ầMh'

In [162]:
name[10:2:-3]

'Hn '

In [164]:
name[:len(name) + 2:1]

'Trần Minh Huy'

In [128]:
name[len(name) + 2::-1]

'yuH hniM nầrT'

In [148]:
name[:-len(name):-1]

'yuH hniM nầr'

In [171]:
name[-1:-len(name):-1]

'yuH hniM nầr'

In [169]:
name[-1::-1]

'yuH hniM nầrT'

# Built-in Methods

## Case Conversion

### `str.capitalize()`

Returns a copy of s with the first character converted to uppercase and other to lowercase.

In [3]:
name.capitalize()

'Trần minh huy'

In [6]:
# Non-alphabetic are un change
"1'm ^ot g@y".capitalize()

"1'm ^ot g@y"

### `str.lower()`

Return a copy of string with alphabetic characters convert to lowercase

In [7]:
name.lower()

'trần minh huy'

### `str.upper()`

Return a copy of string with alphabetic characters convert to uppercase

In [8]:
name.upper()

'TRẦN MINH HUY'

### `str.swapcase()`

Returns a swapcase copy of string.

In [9]:
name.swapcase()

'tRẦN mINH hUY'

### `str.title()`

Return a *title case* copy of the string.

In [13]:
name.title()

'Trần Minh Huy'

It does not handle apostrophes, possessives, or acronyms gracefully

In [14]:
"what's happened to ted's IBM stock?".title()

"What'S Happened To Ted'S Ibm Stock?"

## Find and Replace

### `str.count(sub[, start[, end]])`

Returns the number of occurrences of sub-string.

In [15]:
'foo goo moo'.count('oo')

3

In [16]:
'foo goo moo'.count('oo', 0, 8)

2

### `str.startwith(prefix[, start[, end]])`

Determines wheter the string starts with a given string.

In [18]:
name.startswith("Tr")

True

In [19]:
name.startswith("Tra")

False

In [21]:
name.startswith("Minh", 5)

True

In [24]:
name.startswith("Minh", 5, 8)

False

### `str.endswith(subfix[, start[, end]])`

Determines wheter the string ends with a given string.

In [25]:
name.endswith("Huy")

True

In [26]:
name.endswith("Hu")

False

In [27]:
name.endswith("Minh", 0, 9)

True

In [28]:
name.endswith("Minh", 0, 10)

False

### `str.find(sub[, start[, end]])`

Returns the first postion of substring in the string

In [42]:
name.find("n")

3

In [43]:
name.find("n", 5)

7

In [45]:
name.find("n", 5, 7)

-1

### `str.rfind()`

Returns the first postion of substring in the string starting from the end.

In [41]:
name.rfind("n")

7

In [46]:
name.rfind("n", 0, 6)

3

In [49]:
name.rfind("n", 0, 3)

-1

## Converting between Strings and Lists

### `str.join(iter)`

Returns a string from the contenation of strings in the `iterable` seperated by the target string.

In [50]:
' '.join(["Trần", "Minh", "Huy"])

'Trần Minh Huy'

In [52]:
", ".join(["1", 2 , "3"])

TypeError: sequence item 1: expected str instance, int found

### `str.partition(sep)`

Divides a string based on the first occurrences of separator.\
Return a tuple containing:
- The string preceding `sep`.
- `sep` 
- The string following `sep`.

In [55]:
name.partition("n")

('Trầ', 'n', ' Minh Huy')

In [54]:
name.partition("@")

('Trần Minh Huy', '', '')

### `str.rpartition()`

Divides a string based on the last occurrences of separator.\
Return a tuple containing:
- The string preceding `sep`.
- `sep` 
- The string following `sep`.

In [56]:
name.rpartition("n")

('Trần Mi', 'n', 'h Huy')

In [57]:
name.rpartition("@")

('', '', 'Trần Minh Huy')

### `str.split(sep=None, maxsplit=-1)`

Returns a list of substrings delimited by separator.\
If `sep` is not specified, separator is any sequence of white space.\
If `maxsplit` is specified, a maximum of that many splits are performed.

In [59]:
name.split()

['Trần', 'Minh', 'Huy']

In [60]:
"foo\n\rbar  baz\r\fqux".split()

['foo', 'bar', 'baz', 'qux']

In [61]:
"foo.bar.baz.qux".split(".")

['foo', 'bar', 'baz', 'qux']

In [65]:
name.split(maxsplit=1)

['Trần', 'Minh Huy']

In [66]:
name.split(sep="n", maxsplit=1)

['Trầ', ' Minh Huy']

When `sep` is specified, consecutive delimiters are assumed to delimit empty strings.

In [63]:
"foo...bar".split(".")

['foo', '', '', 'bar']

In [64]:
"foo\t\tbar".split()

['foo', 'bar']

### `str.rsplit(sep=None, maxsplit=-1)`

Returns a list of substrings delimited by separator start from the right.\
If `sep` is not specified, separator is white space.\
If `max` is specified, a maximum of that many splits are performed.

In [68]:
name.rsplit("n")

['Trầ', ' Mi', 'h Huy']

In [73]:
"foo\n\rbar  baz\r\fqux".rsplit()

['foo', 'bar', 'baz', 'qux']

In [74]:
"foo.bar.baz.qux".rsplit(".")

['foo', 'bar', 'baz', 'qux']

In [75]:
name.rsplit(maxsplit=1)

['Trần Minh', 'Huy']

In [77]:
name.rsplit(sep="n", maxsplit=1)

['Trần Mi', 'h Huy']

When `sep` is specified, consecutive delimiters are assumed to delimit empty strings.

In [81]:
"foo...bar".rsplit(".")

['foo', '', '', 'bar']

In [80]:
"foo\t\tbar".rsplit()

['foo', 'bar']

### `str.splitlines([keepends])`

Splits up into lines and return them in a list.

In [82]:
'foo\nbar\r\nbaz\fqux\u2028quux'.splitlines()

['foo', 'bar', 'baz', 'qux', 'quux']

In [ ]:
'foo\nbar\nbaz\nqux'.splitlines(True)

['foo\n', 'bar\n', 'baz\n', 'qux']

Consecutive line boundaries are assumed to delimit empty strings.

In [83]:
'foo\f\f\fbar'.splitlines()

['foo', '', '', 'bar']

# `bytes` Objects

The `bytes` objects is used for manipulating binary data.\
A `bytes` object is an immutable sequence of single byte values(0-255).

One way to create a `bytes` object is to beginning with f before the opening quote.

In [181]:
b = b"foo bar baz"

In [182]:
b

b'foo bar baz'

In [183]:
type(b)

bytes

In [184]:
b = b'foo\xddbar'

In [185]:
b[3]

221

In [186]:
int(0xdd)

221

In [187]:
b = rb"foo\xddbar"
b

b'foo\\xddbar'

In [188]:
b[3]

92

In [189]:
chr(92)

'\\'

Onother way of create a byte object is the `bytes()` function.

`bytes(s, encoding)`

In [190]:
bytes("Trần Minh Huy", "UTF-8")

b'Tr\xe1\xba\xa7n Minh Huy'

`bytes(size)`

In [191]:
bytes(10)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

`byte(iterable<int>)`

In [192]:
bytes([65, 100, 101])

b'Ade'

You can also create `bytes` objects using class method `bytes.fromhex()`.

In [193]:
b = bytes.fromhex(' aa 68 4682cc ')
b

b'\xaahF\x82\xcc'

In [194]:
b.hex()

'aa684682cc'

`bytes` Objects have the same operations as strings.

In [195]:
b = b'foo\xddbar'

In [196]:
b'foo' in b

True

In [197]:
b'foo' not in b

False

In [198]:
b'foo' + b'bar'

b'foobar'

In [199]:
b'foo' * 3

b'foofoofoo'

In [200]:
b'foo' * 0

b''

In [201]:
b'foo' * -1

b''

In [202]:
b[2]

111

In [203]:
b[-1]

114

In [204]:
b[:]

b'foo\xddbar'

In [205]:
b[3:]

b'\xddbar'

In [206]:
b[:5]

b'foo\xddb'

In [207]:
b[3:4]

b'\xdd'

In [208]:
b[::-1]

b'rab\xddoof'

In [209]:
b[-4:-8:-1]

b'\xddoof'

In [210]:
len(b)

7

In [211]:
b = b'foo,bar,foo,baz,foo,qux'

In [212]:
b.count(b'foo')

3

In [213]:
b.endswith(b'qux')

True

In [214]:
b.find(b'baz')

12

In [215]:
b.split(sep=b',')

[b'foo', b'bar', b'foo', b'baz', b'foo', b'qux']

In [216]:
b.center(30)

b'   foo,bar,foo,baz,foo,qux    '

Although a bytes object definition and representation is based on ASCII text, it actually behaves like an immutable sequence of small integers in the range 0 to 255, inclusive.

In [217]:
max(b)

122

In [218]:
min(b)

44

Convert a `bytes` object to a list of integers.

In [219]:
list(b)

[102,
 111,
 111,
 44,
 98,
 97,
 114,
 44,
 102,
 111,
 111,
 44,
 98,
 97,
 122,
 44,
 102,
 111,
 111,
 44,
 113,
 117,
 120]

# `bytearray`

`bytearray` objects are very like `bytes` objects with some differences.\
`bytearray` objects are mutable.\
There is no dedicated syntax for define `bytearray` literal.\
`bytearray` is created by `bytearray()` built-in function.

In [221]:
ba = bytearray('foo.bar.baz', "UTF-8")

In [222]:
ba

bytearray(b'foo.bar.baz')

In [223]:
bytearray(10)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [224]:
bytearray([100, 102, 104, 106, 108])

bytearray(b'dfhjl')

In [228]:
bytearray(b"foo")

bytearray(b'foo')

In [225]:
ba[5] = 0xee

In [226]:
ba

bytearray(b'foo.b\xeer.baz')